<div class="container" style="padding-top: 90px;">
    <h1 class="text-center">Categories</h1>

    {{#if categories.length}}
    <div class="row">
        {{#each categories}}
        <div class="col-md-4">
            <div class="card">
                <img src="{{#if image}}{{image}}{{else}}/images/default-category.jpg{{/if}}" class="card-img-top" alt="{{category}}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/items?category={{id}}">{{category}}</a>
                    </h5>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p class="text-center">No categories available.</p>
    {{/if}}
</div>
